beautifulsoup4==4.11.2
deta==1.2.0
gingerit==0.9.0
nltk==3.8.1
PyDictionary==2.0.1
PyDictionary==2.0.1
python-dotenv==0.21.1
Requests==2.31.0
streamlit==0.89.0
streamlit_option_menu==0.3.6
translate==3.6.1
protobuf==3.20
altair==4.1.0
click>=8.0.0


